.sidebar-rooms {
    border-right: #969497 solid 3px;
}

.sidebar-rooms.small {width: 50px;} /*виден при ширине экрана от 500 до 1000 px*/

/*виден при ширине экрана от 500 до 600 px*/
/*@media (min-width: 500px) and (max-width: 600px) {
    .sidebar-rooms {width: 50px;}
}*/

.sidebar {
    background: #f6f6f6;
    flex: 0 0 auto;
    width: 250px;
    order: 1;
    order: 0;
}
