.message-block-wrapper {
    height: calc(100vh - 220px);
}

.message-block-scroll {
    overflow-y: auto;
}

.message-block {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
}

.message-block-citation {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    order: 0;
    order: 1;
    overflow: hidden;
    margin-top: 10px;
    min-height: 60px;
    max-height: 110px;
    word-break: break-all;
}
