.message-block-wrapper {
    height: calc(100vh - 220px);
    padding-bottom: 5px;
}

.message-block-scroll {
    overflow-y: auto;
    overflow-x: hidden;
}

.message-block-loader {
    margin: auto;
    padding: 0;
}
.message-block-loader--spinner {
    height: 40px;
    width: 40px;
}

.message-block {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
}

.message-block-citation {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    order: 0;
    order: 1;
    overflow: hidden;
    min-height: 60px;
    max-height: 110px;
    word-break: break-all;
}

.message-block-unread {
    text-align: center;
}
.message-block-unread:after {
    content: "last unread";
    position: relative;
    top: -1.8em;
    background-color: white;
}
.message-block-unread--hr {
    width: 100%;
}

.citation-message-blinking {
    position: relative;
    animation-name: blinking-citation;
    animation-duration: 0.7s;
    animation-iteration-count: 3
}
@keyframes blinking-citation {
    0%{left: 0px; background-color: inherit}
    50%{left: -10px; background-color: #00d8ff}
    100%{left: 0px; background-color: inherit}
}
@-webkit-keyframes blinking-citation {
    0%{left: 0px; background-color: inherit}
    50%{left: -10px; background-color: #00d8ff}
    100%{left: 0px; background-color: inherit}
}