.chat {
    cursor: pointer;
}

.chat.active{
    background: hsla(257, 100%, 86%, 0.85);
}

.chat.active.card {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.chat:hover:not(.active) {
    background: hsla(259, 100%, 95%, 0.85);
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-align-end {
    text-align: end;
}