.chat-wrapper {
    position: relative;
}

.chat {
    cursor: pointer;
}

.chat.active{
    background: hsla(257, 100%, 86%, 0.85);
}

.chat.active.card {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.chat:hover:not(.active) {
    background: hsla(259, 100%, 95%, 0.85);
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chat-lastMessage {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
    text-align: end;
 }

.chat-muted {
    position: absolute;
    left: 1%;
    bottom: 1%;
}

.chat-lastActivity {
    position: absolute;
    right: 1%;
    bottom: 1%;
    font-size: 80%;
    color: #6c757d;
}

.chat-menu {
    position: absolute;
    right: 1%;
    top: 1%;
    padding: 2%;
    cursor: pointer;
}
.chat-menu:hover {
    background: hsla(259, 100%, 95%, 0.85);
}

.chat-numberUnreadMessage {
    position: absolute;
    left: 1%;
    top: 1%;
    background-color: orange;
    border-radius: 0.5rem;
    padding: 0 0.3rem 0 0.3rem;
}

.chat-cursor-help {
    cursor: default;
}