.citation-component {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 0px;
    background: #f6f6f6;
    box-shadow: inset 0px 0px 10px 0px #969497;
}

.citation-button {
    position: absolute;
    right: 1px;
    top: -3px;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

.citation-component p {
    margin: 0;
    padding: 0;
}
