.UpperLayerBlock {
    position: relative;
    width: 100%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}

.UpperLayer {
    position: absolute;
    z-index: 1000;
    background-color: #e7e7e7;
    width: 100%;
    min-height: 100%;
    box-shadow: inset 0px 0px 20px -5px rgba(0,0,0,0.5);
}

.closeLayout {
    position: absolute;
    right: 3px;
    top: 3px;
/*  width: 20px;
    height: 20px;
*/  margin: 0px;
    padding: 1px;
    cursor: pointer;
}

.UpperLayer h1 {
    padding: 10px 0px 0px 10px;
}

/*react-transition-group*/
.UpperLayerBlockTransition-enter {
    opacity: 0;
    transform: scale(0.9);
}
.UpperLayerBlockTransition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.UpperLayerBlockTransition-exit {
    opacity: 1;
}
.UpperLayerBlockTransition-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
