.clearfix:after {
    content: "";
    display:block;
    clear: both;
}
.container-app {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}

.container-app {
    flex-wrap: nowrap;
    flex: 1 0 auto;
}
