.messagesender {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    height: 100%;
}

.messagesender-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.element-wrapper {
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
    width: 100%;
    position: relative;
}

.enter-block-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.enter-field {
    width: 100%;
    height: 80%;
    margin: 6px;
    color: #222222;
    background: #f6f6f6;
    border: 2px solid black;
    border-radius: 5px;
    overflow-y: auto;
    word-break: break-all;
}

.messagesender-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow-wrap: break-word
}

button, 
button:active, 
button:focus {
    outline: none;
}

.citation-item {
    background: #ffffff;
    border-radius: 5px;
}

.message-wrap {
    align-self: flex-end;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    word-break: break-all;
}
.left-color {
    background-color: #d4b7f0;
}
.right-color {
    background-color: #78f16e;
}
.left-message {
    text-align: left
}
.right-message {
    text-align: right
}
.center-message {
    text-align: center
}