.user-profile-block {

}

.user-profile-form {
    padding: 15px
}

.user-profile-form hr{
    border: none; /* Убираем границу для браузера Firefox */
    color: #969497; /* Цвет линии для остальных браузеров */
    background-color: #969497; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
    margin: 40px 0 40px 0;
}

.user-profile-photo-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-profile-photo {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    vertical-align: middle;
}

.user-profile-photo img, .user-profile-photo svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
}

.user-profile-photo.rectangle_4x3 img {
    width: 200px;
}

.round {
    border-radius: 50%;
}
.square {
}
.rectangle_4x3 {
    width: 200px;
    height: 150px;
}
