.user-profile-block {

}

.user-profile-form {
    padding: 15px
}

.user-profile-form hr{
    border: none; /* Убираем границу для браузера Firefox */
    color: #969497; /* Цвет линии для остальных браузеров */
    background-color: #969497; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
    margin: 40px 0 40px 0;
}

.user-profile-photo-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-profile-photo {
    max-width: 150px;/*УБРАТЬ ПОТОМ*/
    max-height: 150px;
}

.photo_4x3 {
    max-width: 200px;/*УБРАТЬ ПОТОМ*/
    max-height: 150px;
}